/* 通常のスタイル */
h3 {
    width: 33%;
    font-family: 'Arial', sans-serif; /* フォントをArialに変更 */
}

.h {
    text-align: center;
    color: #ffffff; /* 文字の色を白に変更 */
    background-color: #000000; /* 背景色を黒に変更 */
    padding: 10px; /* ヘッダーの余白を追加 */
}

.imgs {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin-top: 20px;
}

.names {
    display: flex;
    text-align: center;
    justify-content: space-around;
    color: #ffffff; /* 文字の色を白に変更 */
    background-color: #000000; /* 背景色を黒に変更 */
    padding: 10px; /* 余白を追加 */
}

.crown {
    display: flex;
    justify-content: space-around;
    align-items: center; /* 画像を中央揃えにする */
}

.cathc {
    display: flex;
    text-align: center;
    justify-content: space-around;
    color: #ffffff; /* 文字の色を白に変更 */
    background-color: #000000; /* 背景色を黒に変更 */
    padding: 10px; /* 余白を追加 */
}

.gravity {
    width: 30%;
}

.mhw {
    width: 30%;
}

.cs2 {
    width: 30%;
}

.gold {
    width: 10%;
}

.bronze {
    width: 10%;
}

.silver {
    width: 10%;
}

.first {
    color: gold;
}

.second {
    color: silver;
}

.third {
    color: brown;
}

.gravity:hover {
    opacity: 50%;
}

.mhw:hover {
    opacity: 50%;
}

.cs2:hover {
    opacity: 50%;
}

@media screen and (max-width: 800px) {
    .wrapper{
        width: 100vw;
    }
    .names h3{
        font-size: 100%;
    }
    .cathc h3{
        font-size: 100%;
    }
}
