/* 全体のスタイル */
body {
    background-color: #f0f0f0; /* ライトグレーの背景 */
    color: #333; /* ダークグレーのテキストカラー */
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

h3 {
    width: 100%;
}

.h {
    text-align: center;
    color: #ffffff;
    background-color: #333;
    padding: 20px;
    font-size: 2em;
    margin-bottom: 20px;
}

.games {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 0 20px;
}

.game {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 10px;
    max-width: calc(33% - 20px);
    box-sizing: border-box;
    background-color: #fff; /* カード背景色 */
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.rank-img,
.main-img {
    width: 100%;
    height: auto;
    margin: 10px 0;
    border-radius: 5px;
}

.rank-img {
    width: 30%;
}

.title {
    font-size: 1.2em;
    margin: 10px 0;
    color: #333;
}

.comment {
    font-size: 1em;
    margin: 10px 0;
    color: #666;
}

.game:hover {
    background-color: #f9f9f9;
}

@media screen and (max-width: 800px) {
    .wrapper {
        width: 97vw;
    }
    .games {
        flex-direction: column;
        align-items: center;
    }
    .game {
        width: 80%;
        max-width: none;
        margin: 10px 0;
    }
    .cs2 {
        order: 0; /* 一番上に配置 */
    }
    .mhw {
        order: 1; /* 真ん中に配置 */
    }
    .gravity {
        order: 2; /* 一番下に配置 */
    }
}